---
import type { CollectionEntry } from 'astro:content'

import BlogInfo from './BlogInfo.astro'
import { ArrowRight } from './icons/ArrowRight'
import Image from './Image'
import Link from './Link'

interface Props extends CollectionEntry<'blog'> {}

const {
  id: slug,
  data: { heroImage, title, pubDate, description, tags },
  body
} = Astro.props
---

<Link
  href={`blog/${slug}`}
  class='group flex gap-8 border-t border-t-zinc-900 py-10 max-md:flex-col'
>
  <Image
    src={heroImage}
    alt={title}
    align='center'
    class='aspect-[2] transition-all duration-800 group-hover:scale-105 md:aspect-[1.5]'
    wrapperProps={{ class: 'rounded-lg overflow-clip md:max-w-[260px]' }}
    inferSize
  />
  <div class='flex w-full flex-col justify-between lg:py-2'>
    <div class='font-light'>
      <BlogInfo pubDate={pubDate} body={body} />
      <p
        class='font-display mt-3 line-clamp-2 text-lg font-semibold leading-[1.4]'
      >
        {title}
      </p>
      <p class='mt-2 line-clamp-2 text-zinc-400 max-md:text-sm'>
        {description}
      </p>
    </div>

    <div
      class='mt-4 flex justify-between gap-6 max-xs:flex-col-reverse xs:mt-6 xs:items-center'
    >
      <span
        class='link-hover-animation group-hover:link-hovered-animation w-fit text-sm text-emerald-400'
        >Read more
        <ArrowRight
          className='ml-1 inline-block transition-all duration-300 group-hover:ml-2'
        />
      </span>
      <ul class='flex flex-wrap gap-2'>
        {
          tags.map((item) => (
            <li class='rounded bg-zinc-900 px-2 py-1 font-mono text-xs tracking-tight text-zinc-500'>
              {item}
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</Link>

<style define:vars={{ offsetEnd: '24px' }}></style>
