---
import type { JSX, SVGProps } from 'react'

import { getCustomTransition } from '@/lib/customTransition'

export interface Props {
  icon: (props: SVGProps<SVGSVGElement>) => JSX.Element
  class?: string
  forHomePage?: boolean
  section: string
  htmlTitle: string
  htmlDescription: string
}

const {
  class: className,
  forHomePage,
  icon: Icon,
  section,
  htmlTitle: title,
  htmlDescription: description
} = Astro.props

const Section = forHomePage ? 'h2' : 'h1'
const Title = forHomePage ? 'h3' : 'h2'
const Container = forHomePage ? 'div' : 'section'
---

<Container class:list={['space-y-6 sm:space-y-8', className]}>
  <div
    transition:animate={getCustomTransition()}
    class='flex w-fit items-center gap-2 rounded-full bg-emerald-950/55 px-4 py-2 text-emerald-300'
  >
    <Icon />
    <Section class='text-sm font-medium tracking-wide max-sm:text-xs'
      >{section}</Section
    >
  </div>
  <Title
    set:html={title}
    transition:animate={getCustomTransition(0.05)}
    class:list={[
      'font-heading font-semibold leading-none',
      forHomePage
        ? 'text-[clamp(2rem,7vw,3rem)]'
        : 'text-[clamp(2rem,7vw,3.25rem)]'
    ]}
  />
  <p
    class='text-zinc-400 max-md:text-sm'
    transition:animate={getCustomTransition(0.1)}
    set:html={description}
  />
</Container>
