---
import { ArrowOutward } from '@icons/ArrowOutward'
import { X } from '@icons/X'

import Link from '@/components/Link'
import { mainMetaData } from '@/lib/metaData'

import { SOCIAL_MEDIA_DATA } from '../socialMediaData'

type FooterContent = {
  title: string
  links: {
    text: string
    href: string
    withIcon?: boolean
    inNewTab?: boolean
  }[]
}

const socialMediaData = [...SOCIAL_MEDIA_DATA]

const FOOTER_CONTENTS: FooterContent[] = [
  {
    title: 'Me',
    links: [
      //   { text: 'Projects', href: '/projects' },
      { text: 'Blog', href: '/blog' },
      { text: 'Bookmarks', href: '/bookmarks' }
    ]
  },
  {
    title: 'This site',
    links: [
      { text: 'Attribution', href: '#' },
      //   {
      //     text: 'Analytics',
      //     href: 'https://us.umami.is/share/Fmo9fhCyJtinAbWP/jestsee.com',
      //     inNewTab: true
      //   },
      {
        text: 'Source code',
        href: 'https://github.com/shivaluma',
        inNewTab: true
      }
    ]
  },
  {
    title: 'Elsewhere',
    links: [
      {
        text: 'Monkeytype',
        href: 'https://monkeytype.com/profile/shivaluma',
        inNewTab: true,
        withIcon: true
      },
      {
        text: 'Leetcode',
        href: 'https://leetcode.com/shivaluma/',
        inNewTab: true,
        withIcon: true
      }
    ]
  }
]
---

<footer class='relative mt-auto w-full'>
  <div
    class:list={[
      '-z-10 h-48 w-3/5 opacity-25 blur-[160px]',
      'absolute left-1/2 top-0 -translate-x-1/2 xs:top-24'
    ]}
  >
  </div>

  <!-- separator -->
  <div
    class:list={[
      'h-[1px] w-full',
      'bg-gradient-to-r from-zinc-800/25 via-zinc-800/75 to-zinc-800/25'
    ]}
  >
  </div>

  <!-- footer content -->
  <div class='flex justify-center bg-zinc-950 pb-16 pt-20 max-[960px]:pb-8'>
    <div
      class:list={[
        'flex items-stretch justify-between text-sm tracking-wide',
        'w-full px-12 max-sm:px-4 min-[1200px]:w-[1200px]',
        'gap-16 max-[960px]:flex-col-reverse'
      ]}
    >
      <div class='space-y-24'>
        <div class='space-y-3'>
          <p class='text-lg leading-none text-zinc-200'>
            <span class='tracking-widest'> Thanh Viet Nguyen </span>
            <span class='mx-[2px]'>•</span> Software Engineer
          </p>
          <p
            class='text-[13px] text-zinc-500'
            set:html={mainMetaData.htmlDescription}
          />
        </div>
        <div class='space-y-6'>
          <ul class='flex gap-3 text-zinc-200'>
            {
              socialMediaData.map(({ icon: Icon, href, name }) => (
                <li>
                  <Link href={href} target='_blank' aria-label={name}>
                    <Icon className='size-5' />
                  </Link>
                </li>
              ))
            }
          </ul>
          <p class='text-xs text-zinc-500'>
            © 2025 Thanh Viet Nguyen. All rights reserved.
          </p>
        </div>
      </div>

      <div
        class:list={[
          'flex flex-col justify-between max-xs:gap-16',
          'max-[960px]:flex-col-reverse max-[960px]:gap-12',
          'text-zinc-200'
        ]}
      >
        <div
          class='grid grid-cols-3 gap-y-16 max-[960px]:max-w-[480px] max-xs:grid-cols-2 sm:gap-24'
        >
          {
            FOOTER_CONTENTS.map(({ title, links }) => (
              <div class='space-y-4'>
                <p class='text-zinc-200'>{title}</p>
                <ul class='flex flex-col gap-3 text-zinc-400'>
                  {links.map(({ text, href, withIcon, inNewTab }) => (
                    <li>
                      <Link
                        href={href}
                        target={inNewTab ? '_blank' : '_self'}
                        class='flex items-center gap-1 font-normal hover:text-zinc-200'
                      >
                        <span>{text}</span>
                        {withIcon && <ArrowOutward className='size-3' />}
                      </Link>
                    </li>
                  ))}
                </ul>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</footer>
